:root {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: rgb(112, 116, 112);
}

p {
  text-shadow: white 3px 3px 3px;
  font-size: 2rem;
}

.drum-machine {
  width: 600px;
  height: 600px;
  text-align: center;
}

.drum-pads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(55, 56, 55);
  }

.drum-pad {
  width: 30%;
  height: 30%;
  margin: auto;
  background-color: rgba(187, 37, 37, 0.385);  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: black 3px 3px 5px;  
}
.drum-pad:visited {
  background-color: rgba(253, 0, 0, 0.385);  
}
.drum-pad:active { 
  background-color: rgba(253, 0, 0, 0.385);  
}